:root {
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  --text-color: #222F3E;
  --bg-color: #e4b415;
  --secondary-color: #F5DEB3;
  --tertiary-color: #E74C3C;
  /* MODO OSCURO */
  --textDark-color: #E2E8F0;
--bgDark-color: #1E293B;    
--secondaryDark-color: #E2E8F0; 
--tertiaryDark-color: #3B82F6;  
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  transform: translateY(-3px);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.dark body{
  background-color: var(--bgDark-color);
}
.Logo{
  width: 100px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}
h2{
  color: var(--text-color);
}
.dark h1, .dark h2, .dark a{
  color: var(--textDark-color);
}

button {
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark button{
  background-color: var(--secondaryDark-color);

}
button:hover {
  background-color: var(--tertiary-color);
  transform: translateY(-3px); /* Se mueve hacia arriba */
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.3);
  color: var(--text-color); }


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; 
  }
} */



.BookCard-img{
  width: 130px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.BookCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 200px;
  cursor: pointer;
  transition: box-shadow 1s ease-in-out, transform 0.5s ease-in-out ;

  /* animación fadeInUp */

  opacity: 0;
  transform: translateY(40px); /* esto hace que se mueva de abajo a arriba (en el keyframes fadeInUp final se queda en posición 0 */
  animation: fadeInUp 1s ease-in-out forwards; /* el forwards significa que cuando hace la animación se mantiene esta, es decir, no vuelve a su posicion inicial*/


}
@keyframes fadeInUp{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.BookCard:hover{
  box-shadow: 0 8px 66px rgba(0, 0, 0, 0.3);
  
}

.Lightbox {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;


  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(254, 244, 244, 0.8);
  z-index: 10;
}

.Lightbox.open{
  pointer-events: auto;
  opacity: 1;
  /* display: flex; */
}
.Lightbox-img{
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
.Lightbox-content{
  /* transform: scale(0.9); */
  /* transition: transform 0.5s ease-in-out; */
  animation: scaleIn 0.8s ease-in-out;

}

/* .Lightbox.open .Lightbox-content{
  transform: scale(1);
} */

@keyframes scaleIn{
  from{
    transform: scale(0.9);
  } to {
    transform: scale(1);
  }
}
.BtnClose{
  display:block;
  color: #242424;
}

body.no-scroll {
  overflow: hidden;
}

.Footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BookGrid-grid{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 36px;
  padding: 16px;
}

li{
  list-style: none;
}

.Header, .Footer{
  display: flex;
  justify-content: space-around ;
  background-color: var(--bg-color);
  height: 10vh;
  padding: 16px;
  width: 100%;
}
.dark .Header, .dark .Footer{
  background-color: var(--bgDark-color);

}

.Main, .Home{
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.Nav ul{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.BookGrid-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
}
.BookGrid-input{
  padding: 12px 30px 12px 12px;
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  margin: 0 20px;
  
}
.BookGrid-input:focus{
  border-color: var(--text-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.BookGrid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}